p{
background-color: lightgrey;
}
#first_block {
background-color: lightgrey;
width:300px;
border:15px solid green;
padding:50px;
margin:20px;
}
#second_block {
background-color: lightgrey;
width: auto;
border:10px dashed red;
padding:10px;
margin:20px;
}
#third_block {
background-color: lightgrey;
width:20;
border:5px double blue;
padding: 20px;
margin: 20px;
}